---
---

@import "{{ site.theme }}";
.post-list li:nth-child(even) img{
	float:right;
}
.post-list li:nth-child(odd) img{
	float:right;
	margin-right: 10px;
}
.post-list li:nth-child(odd){
	text-align: left;
}
.post-list>li {
    margin-bottom: 10px;
    padding-top: 10px
}
.img-responsive {
	width:50%;
	left: 25%;
	position: relative
}
